.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  width: 680px;
  height: 100vh;
  max-width: 100%;
  padding:30px 0;

  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.uploadPhoto {
  left: calc(50% + 350px);
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}

.modalOverflow {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: block;
  width: 100%;

  border:none;
  background-color: black;
  overflow: hidden;

  pointer-events: auto;
  opacity: 0.6;
}

.modalOverflowShow {
  pointer-events: auto;
  opacity: 0.6;
}


