.photoContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 320px;
  margin-bottom: 20px;

  background-color: var(--secondary-bgc-color);
  background-image: url('../../assets/image/upload-bg.png');
  background-position: center;
  background-repeat: no-repeat;

  border: 2px dashed var(--button-bgc-color);
  border-radius: 20px;
}

.accent {
  color: var(--primary-text);
}

.note {
  margin: 0;
}

