.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon {
  color: var(--accent-color);
  margin-bottom: 25px;
}

.title {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 40px;
}
