.section {
  padding-bottom: 60px;
}

.title {
  margin: 0 0 10px 0;

  font-size: 44px;
  font-weight: 500;
  line-height: 58px;
  text-shadow: 0 4px 4px var(--black25);
  color: var(--primary-text);
}

.text {
  margin: 0;

  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: var(--secondary-text);
}
