.page {
  height: 100vh;
  background-color: var(--background-color);
}

.container {
  display: flex;

  width: 1440px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.visuallyHidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wrapper {
  position: relative;
  width: 775px;

  padding-top: 30px;
  padding-left: 65px;
}
