.section {
  display: flex;
  flex-direction: column;

  height: 100vh;

  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;

  padding-top: 60px;
  padding-bottom: 60px;
}
