.customSelectBreeds,
.customSelectLimit,
.selectOrder,
.selectType,
.selectBreed,
.selectLimit {
  &__control {
    min-width: 101px !important;
    min-height: 40px !important;
    padding: 6px 8px !important;
    border: 2px solid transparent !important;
    border-radius: 10px !important;
    color: var(--secondary-text) !important;
    background-color: var(--bgc-action) !important;
    box-shadow: none !important;

    &:hover,
    &:focus {
      color: var(--accent-color) !important;
      border: 2px solid var(--button-bgc-color) !important;
    }
  }

  &__single-value {
    color: var(--secondary-text) !important;
  }

  &__value-container,
  &__indicator,
  &__placeholder {
    margin: 0 !important;
    padding: 0 !important;
  }

  &__indicator svg{
    width: 16px;
    height: 16px;
    fill: var(--secondary-text);
  }

  &__indicator-separator {
    display: none !important;
  }

  &__input-container {
    margin: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    color: var(--secondary-text) !important;
  }

  &__menu,
  &__menu-list {
    max-height: 300px !important;

    background: var(--bgc-action) !important;
    border-radius: 10px !important;
  }

  &__menu-list {
    padding-top: 20px !important;
    padding-bottom: 20px !important;

    overflow-y: scroll !important;
  }

  &__menu-list::-webkit-scrollbar {
    width: 0;
  }

  &__option {
    padding-left: 20px !important;
    padding-right: 20px !important;

    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: var(--secondary-text) !important;
  }

  &__option--is-focused {
    background-color: var(--accent-color-light) !important;
  }

  &__option--is-selected {
      color: var(--white) !important;
      background-color: var(--accent-color) !important;
    }
  }

.customSelectBreeds {
  &__control {
    min-width: 226px !important;
  }
}

.selectOrder,
.selectType,
.selectBreed,
.selectLimit {
  &__control {
    min-width: 290px !important;
    color: var(--primary-text) !important;
    background-color: var(--secondary-bgc-color) !important;
  }

  &__menu,
  &__menu-list {
    background-color: var(--secondary-bgc-color) !important;
  }

  &__placeholder {
    color: var(--primary-text) !important;
  }
}
