.imageContainer {
  position: relative;
  min-width: 200px;
  min-height: 140px;
  border-radius: 20px;
  overflow: hidden;
  object-fit: contain;
  background-color: var(--button-bgc-color);

  &:hover .imageHover {
    display: flex;
  }
}

.imageContainer:first-child {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.imageContainer:nth-child(3) {
  grid-row: 2 / 4;
  grid-column: 2 / 4;
}

.imageContainer:nth-child(8) {
  grid-row: 4 / 6;
  grid-column: 3 / 4;
}

.imageContainer:nth-child(9) {
  grid-row: 5 / 7;
  grid-column: 1 / 3;
}

.image {
  width: 100%;
  height: 100%;
}

.imageHover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: var(--hoverImage);
}

.textHover {
  display: block;
  margin: 10px;
  padding: 5px 42px;
  font-size: 16px;
  line-height: 24px;
  color: var(--accent-color);
  background-color: var(--bgc-time);
  border-radius: 10px;
}

.imageContainer .image {
  height: 140px;
}

.imageContainer:first-child .image,
.imageContainer:nth-child(3) .image,
.imageContainer:nth-child(8) .image,
.imageContainer:nth-child(9) .image {
  height: 300px;
}
