.imagesWrapper {
  margin-top: 20px;
  max-height: 720px;
  overflow-y: scroll;
}

.imagesWrapper::-webkit-scrollbar {
  width: 0;
}

.containerImages {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 20px;
  padding-top: 20px;
}

.images {
  min-width: 200px;
  min-height: 140px;
  background-color: darkcyan;
  border-radius: 20px;
  overflow: hidden;
}

.containerImages1 {
  .images:first-child {
    grid-row: 1 / 3; // от 2-й до 4-й линий, т.е. 2-й и 3-й ряды
    grid-column: 1 / 2;
    background-color: skyblue;
  }

  .images:nth-child(3) {
    grid-row: 2 / 4; // от 2-й до 4-й линий, т.е. 2-й и 3-й ряды
    grid-column: 2 / 4;
    background-color: plum;
  }
}

.containerImages2 {
  .images:nth-child(3) {
    grid-row: 1 / 3; // от 2-й до 4-й линий, т.е. 2-й и 3-й ряды
    grid-column: 3 / 4;
    background-color: orange;
  }

  .images:nth-child(4) {
    grid-row: 2 / 4; // от 2-й до 4-й линий, т.е. 2-й и 3-й ряды
    grid-column: 1 / 3;
    background-color: greenyellow;
  }
}
