.wrapper {
  position: relative;
  width: 775px;

  &:before {
    position: absolute;
    content: '';
    display: block;

    width: 680px;
    height: 840px;

    background-color: #FBE0DC;
    border-radius: 20px;
  }

  &:after {
    position: absolute;
    top: -94px;
    left: -65px;
    content: '';

    display: block;
    width: 775px;
    height: 1024px;

    background-image: url('../../assets/image/girl-and-pet.png');
    background-position: center;
  }
}
