.wrapper {
  position: relative;
  width: 100%;

  &:before {
    position: absolute;
    content: '';
    display: block;

    width: 680px;
    height: 840px;

    background-color: var(--accent-color-light);
    border-radius: 20px;
  }

  &:after {
    position: absolute;
    top: -94px;
    left: -65px;
    content: '';

    display: block;
    width: 775px;
    height: 900px;

    background-image: url('../../assets/image/girl-and-pet.png');
    background-position: center;
  }
}
