.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.button {
  width: 44px;
  height: 24px;

  border: none;
  border-radius: 50px;
  outline: none;
}

.buttonLight {
  position: relative;
  background: #FBE0DC;

  &:before{
    position: absolute;
    top: 0;
    left: -30px;

    width: 24px;
    height: 24px;

    background-color: #FFFFFF;
    background-image: url('../../assets/icons/eye.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;

    content: '';
  }

  &:after {
    position: absolute;
    top: 5px;
    left: 23px;

    width: 16px;
    height: 16px;

    background: #FF868E;
    border-radius: 40px;

    content: '';
  }
}

.buttonDark {
  position: relative;
  background-color: rgba(255, 134, 142, 0.2);

  &:after {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 16px;
    height: 16px;

    background: #FF868E;
    border-radius: 40px;

    content: '';
  }

  &:before{
    position: absolute;
    top: 0;
    left: -30px;

    width: 24px;
    height: 24px;

    background-color: rgba(255, 255, 255, 0.05);
    background-image: url('../../assets/icons/eye-dark.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;

    content: '';
  }
}
