.wrapper {
  width: 680px;
  height: 100%;
  min-height: 770px;
  padding: 20px;
  margin-bottom: 30px;

  background: var(--secondary-bgc-color);
  border-radius: 20px;
}

.isModal {
  position: relative;
  background-color: var(--modal-bg-color);
}
