.button {
  border: none;
}

.sizeSmall {
  width: 40px;
  height: 40px;

  &:hover {
    background-color: #FF868E;

    & svg path {
      fill: #FFFFFF;
    }
  }
}

.sizeMedium {
  width: 60px;
  height: 60px;
}

.sizeLarge {
  width: 138px;
  height: 36px;
}

.primary {
  border-radius: 10px;
  background-color: var(--icon-bgc-color);
}

.secondary {
  border-radius: 10px;
  background-color: rgba(255, 134, 142, 0.2);
}

.specSize {
  border-radius: 20px;
  background-color: var(--icon-bgc-color);

  &:hover {
    background-color: #FBE0DC;
  }

  &:active {
    background-color: #FF868E;

    & svg path {
      fill: #FFFFFF;
    }
  }
}

.specColor {
  border-radius: 10px;
  background-color: var(--icon-bgc-color);
}

.active {
  background-color: #FF868E;
}

.active svg path {
  fill: #FFFFFF;
}
