* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Jost';
  src: local('Jost Regular'),
    local('Jost-Regular'),
    url('assets/fonts/Jost-Regular.woff2') format('woff2'),
    url('assets/fonts/Jost-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: local('Jost Medium'),
    local('Jost-Medium'),
    url('assets/fonts/Jost-Medium.woff2') format('woff2'),
    url('assets/fonts/Jost-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Jost, 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #FFFFFF;
  --white-secondary: #F8F8F7;
  --accent-color: #FF868E;
  --secondary-color: rgba(255, 134, 142, 0.2);
  --secondary-text: #8C8C8C;
  --black: #1D1D1D;
  --black05: rgba(255, 255, 255, 0.05);
  --black07: rgba(255, 255, 255, 0.07);
  --gray-dark: #282828;
}

body[data-theme='light'] {
  --primary-text: var(--black);
  --background-color:  var(--white-secondary);
  --background-color-pages:  var(--white);
  --modal-bg-color: var(--white-secondary);
  --button-bgc-color: #FBE0DC;
  --secondary-bgc-color: var(--white);

  --icon-url: url('assets/icons/eye.svg');
  --button-left: 23px;
}

body[data-theme='dark'] {
  --primary-text:  var(--white-secondary);
  --background-color: var(--black);
  --background-color-pages:  var(--gray-dark);
  --modal-bg-color: var(--gray-dark);
  --button-bgc-color: var(--secondary-color);
  --secondary-bgc-color: var(--black05);

  --icon-url: url('assets/icons/eye-dark.svg');
  --button-left: 5px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

